#Python
Q1. What are data structures, and why are they important?
   Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. Examples include lists, tuple, and dictionaries. They are important because they allow efficient use of memory, faster data access, and better problem solving techniques.

Q2. Explain the difference between mutable and immutable data types with examples.
   - Mutable: Can be changed after creating. Example: list = [1,2,3], we can append or remove elements.
   - Immutable: Cannot be changed after creating. Example: tuple = (1,2,3) or string = 'hello'.

Q3. What are the main differences between lists and tuples in Python?
   Lists are mutable; tuples are immutable. Lists use []; tuples use (). Tuples are often used for fixed data.

Q4. Describe how dictionaries store data.
   Dictionaries store data in key and value pairs. Each key must be unique or the last same key will be taken for the value, while values can be of any data type. Internally, Python dictionaries use a hash table to provide fast access.

Q5. Why might you use a set instead of a list in Python?
   Sets automatically remove duplicates. Useful when order doesn’t matter and uniqueness is required.

Q6. What is a string in Python, and how is it different from a list?
   A string is a sequence of characters enclosed in quotes. It is immutable. A list is a collection of elements (numbers, strings, etc.) enclosed in [ ] and is mutable.

Q7. How do tuples ensure data integrity in Python?
   Tuples are immutable, meaning once created, their contents cannot be changed. This prevents accidental modification, ensuring data integrity.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
  A hash table is a data structure that stores data in an array like format using hash functions to map keys to indices. Python dictionaries use key and values and use unhashable content like tuples.

Q9. Can lists contain different data types in Python?
  Yes, lists can hold elements of different types, e.g., [1, 'hello', 3.14, True].

Q10. Explain why strings are immutable in Python.
    Strings are immutable because each modification creates a new string object.

Q11. What advantages do dictionaries offer over lists for certain tasks?
  - Faster for finding values assigned to specific  keys.
  - No need to search element by index.
  - Can represent structured data (like records) naturally.

Q12. Describe a scenario where using a tuple would be preferable over a list.
    When storing fixed data like coordinates (x, y) or employee code (sn001,st002) where modification is not needed.

Q13. How do sets handle duplicate values in Python?
   Sets automatically discard duplicates. For example, {1,2,2,3} becomes {1,2,3}.

Q14. How does the “in” keyword work differently for lists and dictionaries?
    In a list, in checks if the value exists and in a dictionary, in checks if the key exists (not the value).

Q15. Can you modify the elements of a tuple? Explain why or why not.
     No, tuples are immutable. Once created, their elements cannot be changed, added, or removed.

Q16. What is a nested dictionary, and give an example of its use case.
    A nested dictionary is a dictionary containing other dictionaries as values.
Example:
student = {“name” : “pooja” , “credentials” : { “class“ : 10 , “roll no” : 21}

Q17. Describe the time complexity of accessing elements in a dictionary.
   The average time complexity is O(1) (constant time) because of hash tables. In rare cases (hash collisions), it may degrade to O(n).

Q18. In what situations are lists preferred over dictionaries?
 When order matters.
  When duplicate values are needed.
   For sequential data processing (like queues, stacks).

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   Before Python 3.7, dictionaries were unordered. From 3.7 onwards, they preserve insertion order, but retrieval is still based on key lookups, not index positions.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
   List: Retrieve by index (e.g., mylist[0]).
   Dictionary: Retrieve by key (e.g., mydict['name']).

In [ ]:
#Q21. Create a string with your name and print it
name = "Pooja"
print(name)

Pooja

In [ ]:
#Q22. Find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [ ]:
#Q23. Slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
#Q24. Convert the string "hello" to uppercase
s = "hello"
print(s.upper())

HELLO

In [ ]:
#Q25. Replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [ ]:
#Q26. Create a list with numbers 1 to 5 and print it
nums = [1, 2, 3, 4, 5]
print(nums)

[1, 2, 3, 4, 5]

In [ ]:
#Q27. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#Q28. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#Q29. Access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [ ]:
#Q30. Reverse the list [10, 20, 30, 40, 50]
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [ ]:
#Q31 Write a code to create a tuple with the elements 100, 200, 300 and print it.
a = (100, 200, 300)
print(a)

(100, 200, 300)

In [ ]:
#Q32 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
a = ('red', 'green', 'blue', 'yellow')
b = second_to_last = a[-2]
print(b)

blue

In [ ]:
#Q33 Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num = (10,20,5,15)
min_num = min(num)
print(min_num)

5

In [ ]:
#Q34. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
ani = ('dog', 'cat', 'rabbit')
index = ani.index('cat')
print(index)

1

In [ ]:
#Q35 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
a = ("orange", "apple" , "kiwi")
"kiwi" in a

True

In [ ]:
#Q36 Write a code to create a set with the elements 'a', 'b', 'c' and print it.
a = {'a', 'b', 'c'}
print(a)

{'c', 'a', 'b'}

In [ ]:
#Q37 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a= {1.2,3,4,5}
a.clear()

In [ ]:
#Q38 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a = {1,2,3,4}
a.remove(4)
print(a)

{1, 2, 3}

In [ ]:
#Q39  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1,2,3}
b = {3,4,5}
a | b

{1, 2, 3, 4, 5}

In [ ]:
#40 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1,2,3}
b = {2,3,4}
a & b

{2, 3}

In [ ]:
#Q41 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
a = {"name" : "Pooja" , "age" : 21 , "city" : "Mumbai"}
print(a)

{'name': 'Pooja', 'age': 21, 'city': 'Mumbai'}

In [ ]:
#Q42 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
a = {'name': 'John', 'age': 25}
a['country'] = 'USA'
print(a)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#Q43  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
a = {'name': 'Alice', 'age': 30}
a['name']

'Alice'

In [ ]:
#Q44 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
p = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del p['age']
print(p)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#Q45 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
a = {'name': 'Alice', 'city': 'Paris'}
'city' in a

True

In [26]:
#Q46 Write a code to create a list, a tuple, and a dictionary, and print them all.
L = [10, 20, 30]
T = ('x', 'y', 'z')
D = {'name': 'Leo', 'id': 1}
print(L)
print(T)
print(D)

[10, 20, 30]
('x', 'y', 'z')
{'name': 'Leo', 'id': 1}

In [27]:
#Q47 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[28, 42, 51, 53, 90]

In [29]:
#Q48 Write a code to create a list with strings and print the element at the third index.
a = [ " ajay" , "pooja" , "vijay" , "jay"]
a[3]

'jay'

In [31]:
#Q49. Write a code to combine two dictionaries into one and print the result.
d1 = {'name': 'POOJA'}
d2 = {'age': 25}
combined_dict = {**d1, **d2}
print(combined_dict)

{'name': 'POOJA', 'age': 25}

In [34]:
#Q50 Write a code to convert a list of strings into a set.
my_list = ['pooja', 'bijay', 'cherry', 'pooja']
my_set = set(my_list)
print(my_set)

{'bijay', 'cherry', 'pooja'}